<div class="container">

  <h1 class="text-center my-4">{{title}}</h1>

  <div class="row">

    <div class="col-12 col-md">

      <div class="card h-100">

        <div class="card-header">
          <h2 class="card-title">An inline Datepicker</h2>
        </div>
        <div class="card-body">

          <div class="d-flex flex-row">
            <div class="flex-fill">
              <ngb-datepicker #d [(ngModel)]="date"></ngb-datepicker>
            </div>
            <div class="flex-fill">
              <button class="btn btn-outline-primary" (click)="d.navigateTo()">To current month</button>
            </div>
          </div>

          <hr/>

          <p>Selected date: {{date.year}}-{{date.month}}-{{date.day}}</p>

        </div>
      </div>

    </div>

    <div class="col-12 col-md">

      <div class="card h-100">

        <div class="card-header">
          <h2 class="card-title">An input with a popup Datepicker</h2>
        </div>
        <div class="card-body">

          <div class="input-group">
            <input type="text" class="form-control" ngbDatepicker #dp="ngbDatepicker" [(ngModel)]="date">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="dp.toggle()"><i class="gg-calendar"></i></button>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

  <div class="row my-4">

    <div class="col-12 col-md">

      <div class="card h-100">

        <div class="card-header">
          <h2 class="card-title">An inline Datepicker with range</h2>
        </div>
        <div class="card-body">

          <ngb-datepicker [displayMonths]="2" (dateSelect)="onDateSelection($event)" [dayTemplate]="t" outsideDays="hidden" ></ngb-datepicker>
          <ng-template #t let-date let-focused="focused">
            <span class="custom-day"
                  [class.focused]="focused"
                  [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null">
              {{date.day}}
            </span>
          </ng-template>

          <hr>

          <pre>From: {{ fromDate | json }} </pre>
          <pre>To: {{ toDate | json }} </pre>

          <hr>

          <p style="color: red">Note: Very customizable but too complex!</p>

        </div>
      </div>

    </div>

    <div class="col-12 col-md">

      <div class="card h-100">

        <div class="card-header">
          <h2 class="card-title">A Timepicker</h2>
        </div>
        <div class="card-body">

          <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>

          <p>With seconds:</p>

          <ngb-timepicker [(ngModel)]="time" [seconds]="true"></ngb-timepicker>

          <hr>

          <p>Selected time: {{time.hour}}:{{time.minute}}</p>
          <p>Selected time with seconds: {{time.hour}}:{{time.minute}}:{{time.second}}</p>

        </div>
      </div>

    </div>

  </div>

</div>

<router-outlet></router-outlet>
